<style>

body,h1 {
	font-family: "Raleway", sans-serif;
}

body, html {
	height: 100%;
}

body {
background-image: linear-gradient(to bottom, #74b9ff, #fab1a0);  
min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.heading-animate-top{
	position:relative;
	animation:animatetop 0.4s;
}
	@keyframes animatetop{
		from{
			top:-300px;
			opacity:0
			} 
			to{
				top:0;opacity:1
				}}


.heading-animate-top {
    position: relative;
    font-family: 'Righteous', cursive;
    animation: animatetop 0.4s;
}

.center {
	text-align: center;
	margin-top:18%;
}

.form-one {
	text-align: center;
	margin-top:18px;
}

label {
	font-size: 1.2rem;
	font-family: 'Righteous', cursive;

}

footer {
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: none;
   color: black;
   text-align: center;
   background: transparent;
font-family: 'Lato', sans-serif;
   font-size: 1rem;

}

</style>